diskcache==5.6.1
fire==0.5.0
google-api-python-client==2.106.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
google-auth==2.23.4
halo==0.0.31
openai==0.27.8
pytest-cov==4.1.0
pytest-playwright==0.3.3
pytest==7.3.2
pyyaml==6.0.1
python-dotenv==1.0.0
requests==2.31.0
tqdm==4.65.0
jira==3.8.0
chardet==5.2.0
pytz==2024.1
